<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Ceneo.pl Web Scraper</title>
</head>
<body>
    <div class = "menu">
        <h1>Ceneo.pl Web Scraper </h1>
        <div class="button-container">
            <a href="." class="button">Author</a>
            <a href="." class="button">Extract</a>
            <a href="." class="button">Index</a>
            <a href="." class="button">Product</a>
            <a href="." class="button">Products</a>
        </div>
    </div>
    <div class="section">
    <section>
        {% block content %}
            <p>To jest plik bazowy.</p>
        {% endblock content %}
    </section>
    </div>
    <footer>
        <p>Wiktoria Wezgraj, Uniwersytet Ekonomiczny w Krakowie</p>
    </footer>
</body>
</html>