{% extends "base.html" %}
{% block content %}
        {% for product in products %}
                    <a href="{{url_for('product', product_id=product.product_id)}}">{{product.product_name}}</a>
                    <p>Liczba opinii: {{product.opinions_count}}</p>
                    <p>Ilość zalet: {{product.pros_count}}</p>
                    <p>Ilość wad: {{product.cons_count}}</p>
                        <a href="{{url_for('download_json', product_id = product.product_id)}}" class="btn btn-outline-dark">JSON</a>
                        <a href="{{url_for('download_csv', product_id = product.product_id)}}" class="btn btn-outline-dark">CSV</a>
                        <a href="{{url_for('download_xlsx', product_id = product.product_id)}}" class="btn btn-outline-dark">XLSX</a>
        {% endfor %}


{% endblock content%}